In [ ]:
#FUNCTIONS
# Writing a function to calculate Geometric mean of two numbers and also checking which number is greater among them.
def calculateGmean(a,b):
  mean = (a*b)/(a+b)
  print(mean)
def isGreater(a,b):
  if(a>b):
    print("first no is greater")
  else:
    print("second no is greater")

a=4
b=16
isGreater(a,b)
calculateGmean(a,b)

second no is greater
3.2

In [ ]:
#function to multiply two numbers
def mul(x,y):
 product=x*y
 return product
num=mul(2,3)
print(num)

6

In [ ]:
#function with no return statement
def greet(name):
  print(f"hello,{name}!")
greet("Neha")

hello,Neha!

In [ ]:
#function to find maximum out of three numbers
def max(a,b,c):
  if (a>b & a>c):
   print( a,"is greater")
  elif (b>a &b>c):
   print( b,"is greater")
  else:
   print(c," is greater")
maximum=max(2,5,9)
print (maximum)

9  is greater
None

In [ ]:
#write a python function to create and print a list where values are squares of numbers between 1 to 30
def squares():
  l=list()
  for i in range(1,31):
    l.append(i**2)
  print(l)
squares()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [ ]:
#Function with default argument
def name(fname,mname="Arun",lname="Jagtap"):
  print("hello,",fname,mname,lname)
name("Neha")

hello, Neha Arun Jagtap

In [ ]:
#Function with keyword argument
def name(fname,mname,lname):
  print("hello,",fname,mname,lname)
name(mname="Neha",fname="Jagtap",lname="Arun")

hello, Jagtap Neha Arun

In [40]:
# Required argument
def avg(a,b,c=1):
  print("avg=",(a+b+c)/2)
avg(5,6)

avg= 6.0

In [41]:
#Function with variable length argument
def name(**name):
  print("hello,",name["fname"],name["mname"],name["lname"])
name(mname="Neha",fname="Jagtap",lname="Arun")

hello, Jagtap Neha Arun